* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel Decorative', sans-serif; /* Fuente estilo elfica */
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa todo el alto de la ventana */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.elementos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 20px;
    padding: 20px;
    justify-items: center;
    background-color: darkviolet; /* Color de fondo para el contenedor de elementos */
    border: 4px solid #000; /* Borde */
    border-radius: 15px; /* Borde redondeado */
    margin: 20px;
}

.elemento {
    text-align: center;
    padding: 10px;
    background-color: #fff; /* Fondo blanco para cada elemento */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.elemento img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.elemento p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.elemento button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.elemento button:hover {
    background-color: #0056b3;
}

.valija {
    margin-top: 20px;
    text-align: center;
}

.valija h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.valija ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.valija li {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.valija li img {
    max-width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.valija button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.valija button:hover {
    background-color: #c82333;
}
